<div
  class="content relative h-screen w-full layout-wrapper card-background lg:surface-ground"
>
  <sidebar-desktop></sidebar-desktop>
  <app-navbar></app-navbar>
  <main
    class="layout-content flex-1 flex flex-column lg:pb-2 lg:pt-2 lg:pr-2 pl-20 lg:h-full"
  >
    <div
      class="card ground-background lg:border-1 border-none border-noround lg:border-round-xl flex flex-column flex-grow-1 p-3 lg:p-4 overflow-y-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </main>
  <p-toast></p-toast>
</div>