<div>
  <p-button
    severity="secondary"
    icon="pi pi-bars"
    [text]="true"
    class="p-1 text-color-secondary"
    (onClick)="sidebarVisible = true"
  ></p-button>

  <p-sidebar
    [(visible)]="sidebarVisible"
    [modal]="true"
    styleClass="border-round-2xl"
  >
    <ng-template pTemplate="header">
      <a
        routerLink="/"
        class="flex align-items-center gap-3 w-full"
        style="text-decoration: none; color: inherit"
      >
        <img
          alt="original logo"
          src="../../assets/classphy.png"
          style="width: auto; height: 25px"
        />
      </a>
    </ng-template>
    <hr class="mb-3 border-top-1 border-none surface-border" />
    <div>
      <p-menu
        [model]="sidebarItems"
        styleClass="flex w-full md:w-60 bg-transparent border-none flex-column"
      >
        <ng-template pTemplate="submenuheader" let-item>
          <span class="text-primary font-bold" >{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          <a pRipple class="flex align-items-center p-menuitem-link  mb-1">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
            <span
              *ngIf="item.shortcut"
              class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >
              {{ item.shortcut }}
            </span>
          </a>
        </ng-template>
      </p-menu>
    </div>
  </p-sidebar>
</div>
