<div>
  <p-button
    severity="secondary"
    icon="pi pi-bars"
    [text]="true"
    class="p-1 text-color-secondary"
    (onClick)="sidebarVisible = true"
  ></p-button>

  <p-sidebar
    [(visible)]="sidebarVisible"
    [modal]="true"
    styleClass="border-round-2xl"
  >
    <ng-template pTemplate="header">
      <a
        routerLink="/"
        class="flex align-items-center gap-3 w-full"
        style="text-decoration: none; color: inherit"
      >
        <img
          alt="original logo"
          src="../../assets/classphy.png"
          style="width: auto; height: 30px"
        />
      </a>
    </ng-template>
    <hr class="mb-3 border-top-1 border-none surface-border" />
    <div>
      <p-menu
        [model]="sidebarItems"
        styleClass="flex w-full md:w-60 bg-transparent border-none flex-column"
      >
        <ng-template pTemplate="submenuheader" let-item>
          <span class="text-primary font-bold" >{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          <app-sidebar-item [item]="item"></app-sidebar-item>
        </ng-template>
      </p-menu>
    </div>
  </p-sidebar>
</div>
